<div id="left">
    <h1 class="red-orange">Valores:</h1>
	<ol class="lista-ol">
<!-- 		<li ng-repeat="a in vm.valores">
			<p>Servicio al cliente:</p>
			<p>Las acciones y decisiones de todo el personal estarán dirigidas a satisfacer las necesidades de los clientes.</p>
		</li>
		<li>
			<p>Colaboración:</p>
			<p>Todas las acciones y decisiones que se lleven a cabo en la notaría estarán presididas por un espíritu de colaboración entre directivos y empleados independientes de su nivel jerárquico ( Relaciones Interpersonales).</p>
		</li>
		<li>
			<p>Autonomía:</p>
			<p>Se favorecerá, a todos los niveles, el trabajo con autonomía y la asunción de responsabilidades individuales.</p>
		</li>
		<li>
			<p>Innovación:</p>
			<p>Se apoyarán todas las ideas y sugerencias, individuales o de equipo, que propongan mejoras métodos de trabajo, servicios, relaciones humanas o cualquier otro aspecto de la notaría.</p>
		</li>
		<li>
			<p>Desarrollo del Personal:</p>
			<p>Se mantendrá una política de formación continua con el objetivo de favorecer el desarrollo constante de los empleados, tanto desde el punto de visto profesional, como desde el personal.</p>
		</li>
		<li>
			<p>Seguridad Jurídica:</p>
			<p>Se cuidará que la actuación de la Notaría este enmarcada siempre en la Ley y brinde seguridad jurídica a los usuarios que soliciten nuestro servicios.</p>
		</li> -->
		<li ng-repeat="a in vm.valores">
			<p>{{a.titulo}}:</p>
			<p>{{a.descripcion}}</p>
		</li>
	</ol>		
</div>

<style type="text/css">
	.lista-ol li p:first-child{
		font-weight: bold;
	}
</style>