<div id="left">
    <h1 class="mb-1 red-orange">Requisitos:</h1>
	<ol class="lista-ol">
<!-- 		<li>Solicitud debidamente firmada o minuta suscrita por las partes y autorizada por abogado colegiado.</li>
		<li>Proporcionar generales de ley del solicitante o de los contratantes</li>
		<li>Adjuntar fotocopia de documentos de identidad vigentes (DNI, CIP, Carnet de Extranjería, Etc.) del solicitante o contratantes.</li>
		<li>Cancelar importe de las publicaciones, cuando corresponda.</li>
		<li>Adjuntar copias originales de las partidas del Registro Civil que correspondan.</li> -->
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
	</ol>
	<div ng-if="vm.lugar.length>0">
			<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.lugar}}</li>
	</ol>
	</div>
	<div ng-if="vm.nota.length>0">
		<h1 class="mb-1 red-orange">Nota:</h1>
	<ol class="lista-ol">
		<li>{{vm.nota}}</li>
	</ol>
	</div>		
</div>