<div id="left">
    <h1 class="red-orange">Requisitos:</h1>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Presentar el título valor a más tardar al octavo día de la fecha de vencimiento del mismo.</li> -->
		<!-- <li>Presentar el título valor completamente firmado, sin enmendaduras, raspones ni borrones.</li> -->
	</ol>
	<div ng-if="vm.nota.length>0">
		<h1 class="red-orange">Nota:</h1>
		<ol class="lista-ol">
			<li>{{vm.nota}}</li>
		</ol>
	</div>
	<div ng-if="vm.lugar.length>0">

	<h1 class="red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>En Certificaciones, mostrador de atención al público (primer piso).</li>
	</ol>	
	</div>

</div>



