<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card" ng-repeat="r in vm.cardRoutes">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
            	<a ng-if="r.children" ng-class="{'collapsed': vm.routeActivated!=r.name}" ng-click="vm.routeActivated=r.name" data-toggle="collapse" data-parent="#accordionEx" href=".{{r.title}}" aria-expanded="true" aria-controls="{{r.title}}">
	                {{r.settings.content}}
	            </a>
	           	<a ng-if="!r.children" ng-class="{'collapsed': vm.routeActivated!=r.name}" ng-click="vm.routeActivated=r.name" ui-sref="{{r.name}}" >
	                {{r.settings.content}}
	            </a>
            </h5>
        </div>
        <div ng-if="r.children" id="{{r.title}}" class="collapse {{r.title}}" ui-sref-active="show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
            <div class="card-body">
			    <p ng-repeat="s in r.children" ng-class="{'selected':vm.subRouteActivated==s.name}"><a ui-sref="{{s.name}}">{{s.settings.content}}</a></p>
			</div>
        </div>
    </div>	
</div>

