
<!--Footer-->
<footer class="page-footer font-small  pt-4 mt-4" style="background-color: #555347">
    <!-- #37474F -->

    <div class="container text-center text-md-left">
        <div class="row my-4">
<!-- 
            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Cuentas Corrientes</h5>
                <img src="content/img/350x260.png" style="width: 100%">
            </div> -->

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-5 col-lg-4 ml-auto">
                <h5 class="text-uppercase mb-4 font-weight-bold">Horario Corrido</h5>
                <ul class="list-unstyled">
                    <li><span>
                        <a href="">Lunes a Viernes de 8:00 am. a 7:30 pm.</a>
                    </span></li>
                    <li><span>
                        <a href="">Sábados de 8:00 am. a 1:00 pm.</a>
                    </span></li>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-5 col-lg-5">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                <!-- <p><i class="fa fa-phone mr-3"></i> RPM: 953567692</p> -->
                <!-- <p><i class="fa fa-phone mr-3"></i> RPC: 991837369</p> -->
                <p><i class="fa fa-phone mr-3"></i> Telf: + 51 82 502 258 - RPC: 991837369 - RPM: 953567692</p>
                
                <p><i class="fa fa-envelope mr-3"></i> notarialourdesga@hotmail.com</p>
                <p><i class="fa fa-envelope mr-3"></i> informes@notariagarciamedina.com</p>

                <p><i class="fa fa-home mr-3"></i> Jr. Puno N° 745 Puerto Maldonado.</p>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-3 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Siganos en </h5>
                <div class="mt-2 d-flex flex-wrap mx-auto">
                    <a type="button" class="btn-floating btn-small btn-fb d-flex align-items-center">
                        <i class="fab fa-facebook d-flex mx-auto h5 mt-2" ></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-tw d-flex  align-items-center">
                        <i class="fab fa-twitter d-flex mx-auto h5 mt-2"></i>
                    </a>
                  <!--   <a type="button" class="btn-floating btn-small btn-dribbble d-flex align-items-center">
                        <i class="fab fa-google-plus d-flex mx-auto h5 mt-2"></i>
                    </a> -->
                    <a type="button" class="btn-floating btn-small btn-gplus d-flex align-items-center">
                        <i class="fab fa-youtube d-flex mx-auto h5 mt-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">LOUERDES MADELEINE GARCÍA MEDINA</div>

</footer>
                 
   