<div ng-controller="shellController as vm">
<div style="height: 100%" ui-view></div>
<!-- ng-class="{'oculto': vm.oculto}" -->
<!-- ng-click="vm.oculto = true" -->
<!-- <div class="fondo-negro animated fadeIn " id="mostrarmodal" > -->
  <!-- <div class="modal animated fadeIn " id="mostrarmodal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center" style="background: #005580;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class=" text-white">&times;</span>
            </button>
            <center><img src="content/img/logo_notaria.png" style=" height: 150px;"></center><br>
            <center><h2 class="font-weight-bold text-white">{{vm.informe.header}}</h2></center><br>
            <hr>
            <center><h6 class="font-weight-bold" style="color: yellow">{{vm.informe.titulo}}</h6></center><br>
            <center><span class="font-italic text-white">{{vm.informe.descripcion}}</span> </center>
            <div ng-if="vm.informe.nombre_archivo">
                <button type="button" class="btn btn-outline-default waves-effect"><a href="archivos/informe/{{vm.informe.informe}}" target="_blanck" class=" text-white">{{vm.informe.nombre_archivo}}</a></button>
            </div>
        </div>
      </div>
    </div>
  </div> -->
<!-- </div> -->

</div>
<!--    <script>
      $(document).ready(function()
      {
         $("#mostrarmodal").modal("show");
      });
    </script> -->
<style type="text/css">
    .none{
        display: none;
    }
    .block{
        display: block;
    }
    .menu-fixed {
        position:fixed;
        z-index:2000;
        background: #fff;
        top:0;
        width: 100%;
        box-shadow:0px 4px 3px rgba(0,0,0,.5);
    }
</style>


