
  <nav class="top-bottom-menu m-0">
      <ul class="menu">     
          <li class="submenu" ng-repeat="r in vm.navRoutes">
            <a ng-if="!r.children" ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
            <a ng-if="r.children" ng-bind-html="r.settings.content"></a>
            <ul ng.-if="r.children" class="children">
                <li ng-repeat="s in r.children" ng-if="!s.go"  class="subsubmenu"><a  ui-sref="{{s.name}}" ng-bind-html="s.settings.content"></a>
                </li>
                <li ng-repeat="s in r.children" ng-if="s.go" class="subsubmenu"><a  ui-sref="{{s.name}}.{{s.go}}" ng-bind-html="s.settings.content"></a></li>
            </ul>
          </li>
      </ul>
      <div class="social p-0 m-0">
          <div class="menu-bar"> <a href="" class="d-flex mx-auto bt-menu h3" id="bt-menu"><i class="fas fa-align-justify"></i></a></div>
      </div>
  </nav>


  <script type="text/javascript">
    $(document).ready(main);
    var contador = 1;

    function main () {
        console.log("sadasd");
        $('#bt-menu').click(function(){
            console.log("clieck");
            if (contador == 1) {
                $('nav').animate({
                    left: '0'
                });
                contador = 0;
            } else {
                contador = 1;
                $('nav').animate({
                    left: '-72.1%'
                });
            }
        });
        $('.submenu').click(function(){
            $(this).children('.children').slideToggle();
        });
        $('ul').click(function(p){
            p.stopPropagation();
        });

        $('.subsubmenu').click(function(){
            $(this).children('.subChildren').slideToggle();
        });
        $('ul').click(function(p){
            p.stopPropagation();
        });
    }
</script>