<div class="rgba-green-light" style="height: 100vh;">
    <div class="container" style="height: 100%;display:flex;align-items:center;">
        <div class="col-md-4 col-12">
            <slick class="slider single-item"  settings="vm.slickConfig" focus-on-select="true" current-index="index">
                <div class="col-md-12">
                    <div class="card card-image mb-3" style="background-image: url(content/img/noticia1.jpg); background-size: cover;">
                        <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
                            <div>
                                <h5 class="red-text font-weight-bold"><i class="fas fa-palette"></i> Diseño</h5>
                                <h3 class="card-title pt-2"><strong>Acceso a la Administración de Diseño</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn lime darken-3"><i class="fa fa-clone left"></i> Go -></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-image mb-3" style="background-image: url(content/img/noticia2.jpg);">
                        <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
                            <div>
                                <h5 class="red-text font-weight-bold"><i class="fas fa-database"></i> Datos</h5>
                                <h3 class="card-title pt-2"><strong>Acceso a la Administración de Data</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn lime darken-3" ui-sref="Login.loginData"><i class="fa fa-clone left"></i> Go -></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card card-image mb-3" style="background-image: url(content/img/noticia3.jpg);">
                        <div class="text-white text-center d-flex align-items-center rgba-black-light py-5 px-4">
                            <div>
                                <h5 class="red-text font-weight-bold"><i class="fas fa-chart-bar"></i> Estadistica</h5>
                                <h3 class="card-title pt-2"><strong>Acceso a la Administración Estadistica</strong></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                    Odit sed qui, dolorum!.</p>
                                <a class="btn lime darken-3"><i class="fa fa-clone left"></i> Go -></a>
                            </div>
                        </div>
                    </div>
                </div>
            </slick> 
        </div>
        <div class="col-md-8 col-12">
            <div class="card">
                <div class="card-body">
                    <div ui-view></div>
                </div>
            </div>

        </div>
    </div>    
</div>