 <div class="col-md-12">
    <div class="row">
        <div class="col-md-2 small-box-shadow">
            <rt-widget-header title="Filtros" bg="background-head-blueblack"></rt-widget-header>
            <table class="table table-sm" id="year">
                <thead>
                <th>
                    <div class="ui-timesbox ui-timesbox-danger" style="display: flex;">
                        <label>
                            <input ng-model="vm.selected[0].selected" ng-click="vm.reset(vm.vistas,0,'vista')" ng-disabled="vm.selected[0].selected || vm.updates.idSelected || !vm.updates.disabled" type="checkbox" id="todos" name="todos"><span>Vistas Principales</span>
                        </label>
                    </div>
                </th>
                </thead>
                <tbody >
                <tr ng-repeat="a in vm.vistas">
                    <td style="padding: 2px">                                  
                     <div class="ui-radio ui-checkbox-event" >
                        <label>
                            <input type="radio" name="vista" ng-disabled="vm.updates.idSelected || !vm.updates.disabled" ng-checked="a.selected" ng-click="vm.filtro(vm.vistas,$index,0,'vista',a.vista)"><span>{{a.vista}}</span>
                        </label>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-sm"  id="year" >
                <thead>
                    <th>
                        <span>Subvistas</span>
                    </th>
                </thead>
                <tbody>
                    <tr ng-repeat="a in vm.tofilter[0]">
                        <td style="padding: 2px">                                  
                         <div class="ui-checkbox ui-checkbox-event" style="display: flex;">
                            <label>
                                <input type="checkbox" name="{{a.subvista}}" ng-disabled="vm.updates.idSelected || !vm.updates.disabled" ng-checked="!a.selected" ng-click="vm.filtro2($index,0)"><span>{{a.subvista}}</span>
                            </label>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" style="background: #e2e2e2;">
            <rt-widget-header title="Colegiados" bg="background-head-blueblack"></rt-widget-header>
            <div class="configBody" style="height: 520px; overflow: auto;">
                <div class="col-md-12" >
                    <form id="site-search"  class="ng-pristine ng-valid example col-md-12">
                        <button type="submit"><i class="fas fa-search"></i></button>
                        <input type="text" ng-model="vm.texto" placeholder="Type here for search..." name="search">
                    </form>
                </div>
                <table class="table table-bordered table-sm">
                    <thead>
                        <tr>
                            <th ng-if="vm.updates.message">
                                <div class="ui-checkbox ui-checkbox-cole-active" >
                                    <label>
                                        <input type="checkbox" ng-click="vm.cambiarTodos(!vm.all)" ng-checked="vm.all" ><span></span>
                                    </label>
                                </div>
                            </th>
                            <th scope="col">Nro.</th>
                            <th scope="col">Vista</th>
                            <th scope="col">Subvista</th>           
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="a in vm.items | filter:vm.texto" ng-class="{'tr-selected':vm.updates.idSelected==a.id}" ng-click="vm.select(a.id)">
                            <td ng-if="vm.updates.message">
                                <div class="ui-checkbox ui-checkbox-cole">
                                    <label><input type="checkbox" ng-checked="a.comunicar" ng-click="vm.change(a.id)"><span></span>
                                    </label>
                                </div>
                            </td>
                            <td>{{$index+1}}</td>
                            <td>{{a.vista}}</td>
                            <td>{{a.subvista}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-4 small-box-shadow">
            <div ui-view></div> 
        </div> 
    </div>
</div>