<div id="left">
    <h1 class="red-orange">Requisitos:</h1>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Presentar debidamente firmada la carta en original y dos copias.</li> -->
		<!-- <li>Indicar claramente dirección, nombre o razón social del destinatario.</li> -->
	</ol>
	<div ng-if="vm.lugar.length>0">
		<h1 class="red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.lugar}}</li>
	</ol>
	</div>
		<div ng-if="vm.nota.length>0">
		<h1 class="red-orange">Nota:</h1>
	<ol class="lista-ol">
		<li>{{vm.nota}}</li>
	</ol>
	</div>			
</div>

