            <rt-widget-header title="Formulario" bg="background-head-blueblack"></rt-widget-header>  
            <form  name="Formulario">         
                <div class="col-md-12">
                    <rt-form-button 
                        buttons="vm.buttons"
                        updates="vm.updates"
                        new-button="vm.nuevo()" 
                        edit-button="vm.editar()" 
                        message-button="vm.comunicar()"  
                        back-button="vm.volver()" 
                        delete-button="vm.eliminar()" >
                    </rt-form-button>
                </div>
                <div  class="configBody row" style="width: 100%;height: 400px; overflow: auto" >
                    <fieldset class="col-md-12" ng-disabled="vm.updates.disabled">
                        <label class="w3-text-blue-x1" for="titulo"><b>Vista</b></label>
                        <select class="w3-select w3-select-x1" ng-disabled="vm.enable" name="titulo" ng-model="vm.servicio_notarial.vista" ng-change="vm.selectVista(vm.servicio_notarial.vista)">
                            <option ng-repeat="a in vm.vistas" value="{{a.vista}}" >{{a.vista}}</option>
                        </select>
                        <label ng-if="vm.idxVista" class="w3-text-blue-x1" for="titulo"><b>Subvista</b></label>
                        <select ng-if="vm.idxVista" ng-disabled="vm.enable" class="w3-select w3-select-x1" name="titulo" ng-model="vm.servicio_notarial.subvista">
                            <option ng-repeat="a in vm.subvistas" value="{{a.subvista}}">{{a.subvista}}</option>
                        </select>
                        <label class="w3-text-blue-x1" for="ponentes">Requisitos </label>
                        <div class="lista-admin col-md-12">
                            <li ng-repeat="a in vm.servicio_notarial.requisitos">
                                <button  type="button" ng-click="vm.eliminarDato($index)" class="times-x">
                                    <i class="fas fa-times fa-xs" ></i>
                                </button>
                                <textarea name="requisito" auto-resize capitalize-letter style="resize: none;" class="w3-input-x1 w3-border" placeholder="Inscripciones" ng-model="vm.servicio_notarial.requisitos[$index].requisito"  rows="2" required></textarea>
                            </li>                               
                        </div>                        
                        <div class="col-md-12">
                            <button class="hover" type="button" ng-click="vm.agregarrequisito()" style="border: 1px solid #637c8a; width: 100%; text-align: center; color: #637c8a; margin-top: 5px;">
                                <i class="fas fa-plus fa-2x"></i>
                            </button>
                        </div>
                        <label class="w3-text-blue-x1" for="lugar"><b>Lugar</b></label>
                        <textarea name="lugar" auto-resize capitalize-letter style="resize: none;" class="w3-input-x1 w3-border" placeholder="lugar..." ng-model="vm.servicio_notarial.lugar"  rows="2"></textarea>
                        <label class="w3-text-blue-x1" for="nota"><b>Nota</b></label>
                        <textarea name="nota" auto-resize capitalize-letter style="resize: none;" class="w3-input-x1 w3-border" placeholder="nota..." ng-model="vm.servicio_notarial.nota"  rows="2"></textarea>
                    </fieldset>
                </div>
                <center>
                <div class="panel-body">
                    <button type="submit" ng-click="vm.guardar(Formulario.$valid)" ng-disabled="!Formulario.$valid" class="blue-bottom button-4">
                        <i class="fas fa-check"></i><span >Registrar</span>
                    </button> 
                    <a ng-click="vm.cancelar()" class="blue-bottom button-4 ">
                        <i class="fas fa-times"></i><span >Cancelar</span>
                    </a>
                </div>
                </center>
            </form>