<div id="left">
    <h1 class="red-orange">Código de Ética:</h1>
	<p>La Notaría García Medina en el cumplimiento de su misión de brindar seguridad jurídica de confianza, oportuna, con soluciones integrales, innovadoras, de calidad, actualizadas, personalizadas, con una comunicación permanente, con responsabilidad social y profesionalismo; establece la relevancia e importancia de implementar un sistema de gestión ética denominado “Manos Limpias” que promueva la adopción de procesos transparentes y de buenas prácticas operativas y laborales, con la finalidad de salvaguardar la transparencia en los procesos operativos de la Notaría las que conducirán a incrementar la satisfacción del cliente.</p>
	<p>Como parte fundamental del sistema Manos Limpias, la Notaría ha implementado un código de ética que establece los patrones de conducta por el cual todos los colaboradores de la Notaría, así como aquellos terceros que estén involucrados en el quehacer de la misma, tienen la obligación de cumplir y contribuir al cumplimiento del  presente código. Los posibles incumplimientos al Código serán resueltos de acuerdo con la normativa aplicable.</p>
	<p>La supervisión del procedimiento de comunicación en materias relacionadas con ilícitos y, en general, con la falta al presente Código Ético de la Notaría recae en el Órgano de Vigilancia (ODV), con el cual se puede comunicar a través del proceso de comunicación establecido en el presente documento.</p>
	<br>
	<!-- <p>Enlaces relacionados:</p> -->
<!-- 	<ol class="lista-ol">
		<li> <a href="https://www.notariapaino.com.pe/wp-content/uploads/2017/02/Codigo-de-Etica-Paino-rev-03.pdf">Código de García Medina</a></li>
		<li> <a href="">Formulario de notificaciones para el Órgano de Vigilancia</a>	</li>
	</ol> -->
</div>

