<div class="wrapper admin">
    <nav id="sidebar" class="active">
        <div id="dismiss" style="margin-top: 40px;">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <h3>Notaria Garcia Medina</h3>
        </div>
        <div ng-include=" 'app/layout/sidebarAdmin.html' " ></div>
    </nav>
    <div id="content">
        <nav class="navbar navbar-default" >
            <div class="container-fluid" style="padding-bottom:10px;">
                <div class="navbar-header" style=" width: 100%; display: flex; justify-content: space-between;">
                    <div class="dismis" id="sidebarCollapse">
                        <i class="fas fa-bars text-white"></i>
                    </div>
                    <div class="dismis" ng-click="vm.salir()">
                        <i class="fas fa-power-off text-white"></i>
                    </div>
                </div>
            </div>
        </nav>
        <div  style="margin-top: 70px;">
            <div ui-view></div>
        </div>
        
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay').fadeOut();
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').addClass('active');
            $('.overlay').fadeIn();
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });
</script>
<div class="overlay"></div>


<style type="text/css">
    

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.dismis{
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #37454d;
    border: 1px solid #637c8a;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dismis:hover {
    background: #637c8a;
    color: #fff;
}
.navbar {
    width: 100%;
    padding-top: 10px;
    position: fixed;
    z-index: 102;
    background: #37454d;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #37454d;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #37454d;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #637c8a;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    display: none;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #37454d;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}
#sidebar ul li a:hover {
    color: #37454d;
    background: #fff;
}
#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #637c8a;
}
a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}
#sidebar ul ul a {
    padding-left: 30px !important;
    background: #637c8a;
}
#sidebar ul.CTAs {
    padding: 20px;
}
#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
a.download {
    background: #fff;
    color: #37454d;
}
a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
#content {
    width: 100%;  
    /*min-height: 100vh;*/
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
</style>