<div id="left">
	<p>Las rectificaciones que tengan por objeto corregir los errores y omisiones de nombre, apellidos, fecha   de   nacimiento, de matrimonio, defunción u otros que resulten evidentes del tenor de la propia partida o de otros documentos probatorios, se tramitarán ante un notario.</p>
    <h1 class="mb-1 red-orange">Requisitos:</h1>
    <p>La  minuta  precisara el  objeto del pedido y se acompañara  la  partida  que se pretende  rectificar   y la partida de sustento que  acredite  fehacientemente  su pedido.</p>
    <p>Anexos:</p>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Partida de sustento.</li> -->
		<!-- <li>Copia del documento de identidad del solicitante.</li> -->
	</ol>
	<div ng-if="vm.lugar.length>0">
		<h1 class="mb-1 red-orange">Lugar:</h1>
		<ol class="lista-ol">
			<li>{{vm.lugar}}</li>
		</ol>		
	</div>
	<div ng-if="vm.nota.length>0">
		<h1 class="mb-1 red-orange">Nota:</h1>
		<ol class="lista-ol">
			<li>{{vm.nota}}.</li>
		</ol>		
	</div>
		
</div>



