  <link rel="stylesheet" href="content/css/mdbpro.min.css">
    <div class="container-fluid bg-header box-shadow fixed-top ">
        <div class="container bg-header" >
            <div class="row border-bottom">
                <div class="col-md-2 d-sm-none d-md-block d-none p-0" >
                    <small class="m-0 text-white">{{vm.fecha | date:'EEEE, dd MMM yyyy'}}</small>
                </div>
                <div class="col-md-6 d-sm-none d-md-block d-none" >
                    <!-- <ul class="top-header-menu ">
                        <li class="menu-item">
                            <a ui-sref="Login.usuario"><small>Login</small></a>
                        </li>
                    </ul> -->
                </div>
                <div class="col-md-4 d-sm-none d-md-block d-none p-0" >
                    <ul class="top-header-icons" style="float: right;">
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="" title="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="" title="Google+">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="" title="Instagram">
                                  <i class="fab fa-google-plus"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="" title="Twitter">
                                  <i class="fab fa-youtube"></i> 
                                </a>
                            </span>   
                        </li>
                    </ul>
                </div>            
            </div>
            <div class="row top-middle">
                <div class="col-md-10 col-sm-8 col-8 p-0" >
                    <div class="titulo m-0">
                        <span class="font" style="color: white">NOTARÍA GARCÍA MEDINA</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-4">
                    <div id="logo">
                        <img src="content/img/logo_notaria.png" class="" alt="Responsive image">   
                        <!-- <img src="content/img/NOTARIA_MEDINA2.jpg" class="" alt="Responsive image">    -->
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="menu" >
                <div class="row p-0">
                    <div class="col-md-10 p-0">
                        <ng-include src="'app/layout/sidebar.html'"></ng-include>
                    </div>
                </div>            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid" style="background: #f1f8e9">
        <div class="container">
            <br>
            <div ui-view></div> 
            <br>
        <div class="col-lg-12">
            <slick class="slider single-item" ng-if="dataLoaded" init-onload="false" data="dataLoaded" settings="slickConfig3" focus-on-select="true" current-index="index">
              <div ng-repeat="a in vm.enlaces" class="col-md-12">
                <div class="wrimagecard wrimagecard-topimage">
                  <a href="">
                    <div class="wrimagecard-topimage_header" style="background-color: rgba(119, 178, 88, 0.1);height: 70px;">
                      <center>
                        <img src="imagenes/enlace/{{a.enlace}}" class="img-responsive" style="width: 100%; height: 70px">
                      </center>
                    </div>
                  </a>
                </div>
              </div>
            </slick>         
        </div>   
    </div>
</div>
<div class="modal animated fadeIn " id="mostrarmodal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body text-center" style="background: #005580;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class=" text-white">&times;</span>
            </button>
            <center><img src="content/img/logo_notaria.png" style=" height: 150px;"></center><br>
            <center><h2 class="font-weight-bold text-white">{{vm.informe.header}}</h2></center><br>
            <hr>
            <center><h6 class="font-weight-bold" style="color: yellow">{{vm.informe.titulo}}</h6></center><br>
            <center><span class="font-italic text-white">{{vm.informe.descripcion}}</span> </center>
            <div ng-if="vm.informe.nombre_archivo">
                <button type="button" class="btn btn-outline-default waves-effect"><a href="archivos/informe/{{vm.informe.informe}}" target="_blanck" class=" text-white">{{vm.informe.nombre_archivo}}</a></button>
            </div>
        </div>
      </div>
    </div>
  </div>
<ng-include src="'app/layout/bottom.html'"></ng-include>
   <script>
      $(document).ready(function()
      {
         $("#mostrarmodal").modal("show");
      });
    </script>