<div id="left">
    <h1 class="mb-1 red-orange">Requisitos:</h1>
	<ol class="lista-ol">
<!-- 		<li>Minuta suscrita por las partes y autorizada por abogado colegiado, la minuta deberá contener la declaración expresa de no tener deudas pendientes de pago, individualizando el predio que se propone afectar y a los respectivos beneficiarios.</li>
		<li>Partidas que acrediten el vínculo entre el solicitante y los beneficiarios.</li>
		<li>Copia literal del inmueble actualizada y certificado de cargas y gravámenes del predio.</li> -->
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
	</ol>
	<div ng-if="vm.lugar.length>0">
				<h1 class="mb-1 red-orange">Lugar:</h1>
		<ol class="lista-ol">
			<li>{{vm.lugar}}</li>
		</ol>
		</div>
		<div ng-if="vm.nota.length>0">
			<h1 class="mb-1 red-orange">Nota:</h1>
		<ol class="lista-ol">
			<li>{{vm.nota}}</li>
		</ol>
	</div>		
</div>



