<div id="left">
    <h1 class="red-orange">Tipo de poderes:</h1>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Poder Amplio y General</li> -->
		<!-- <li>Poder para pleitos</li> -->
		<!-- <li>Poder para divorcio</li> -->
	</ol>		
</div>

