<form>
    <p class="h4 text-center py-4">Contraseña</p>

    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="password" id="password" ng-model="vm.user.password" class="form-control" uib-popover-html="htmlPopover" popover-trigger="'none'" popover-is-open="vm.popover" ng-keyup="vm.popover=false">
        <label for="password" class="font-weight-light">your password</label>
    </div>
    <div class="text-center py-4 mt-3">
        <!-- <button class="btn btn-warning" ng-click="vm.Back()" type="button">Atras</button> -->
        <button class="btn  lime darken-3" ui-sref="Login.usuario" type="button">Atras</button>

        <button class="btn  lime darken-3" ng-click="vm.sendPassword()" type="button">Iniciar</button>
    </div>
</form>