<div id="left">
	<div ng-if="vm.nota.length>0">
		    <h1 class="mb-1 red-orange">Nota:</h1>
    <ol class="lista-ol">
    	<li>{{vm.nota}}</li>
    </ol>
	</div>
    <h1 class="mb-1 red-orange">Requisitos:</h1>
    <p>La solicitud debe incluir:</p>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
<!-- 		<li>Nombre del causante.</li>
		<li>Indicación del último domicilio del causante.</li>
		<li>Copia certificada de la partida   de   defunción o de la declaración judicial de muerte presunta.</li>
		<li>Copia certificada    de   la  partida  de   nacimiento     del   presunto    heredero     o  herederos,     o documento público que contenga el reconocimiento o la declaración judicial, si se trata de hijo extramatrimonial o adoptivo.</li>
		<li>Partida de matrimonio o la inscripción en el Registro Personal de la declaración de la unión de hecho, adjuntándose, según sea el caso, el testimonio de la escritura pública o la copia certificada de la sentencia judicial firme.</li>
		<li>Relación de los bienes conocido.</li>
		<li>Certificación Registral en la que conste que no hay inscrito testamento u otro proceso de sucesión intestada; en el lugar del último domicilio del causante y en aquel donde hubiera tenido bienes inscritos.</li>
		<li>Copia del documento de identidad del solicitante</li> -->
	</ol>
	<div ng-if="vm.lugar.length>0">
			<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>En mostrador del primer piso.</li>
	</ol>
	</div>		
</div>



