﻿
    <div class="row">
      <div class="col-md-12 p-0">
        <div class="widget wblack">
          <div class="widget-head {{bg}}" style="margin-bottom: 6px;height: auto;border-right: 1px solid; border-left: 1px solid;">
              <div class="page-title pull-center">{{title}}</div>
          </div>
        </div>
      </div>
    </div>

<style type="text/css">
	.widget.wblack  .background-head-orange{
        background-color: #ef6145;
    }
    .widget.wblack  .background-head-blueblack{
        background-color: #637c8a;
    }
/* --------------------INICIO cabecera widget ------------*/
    .widget{
        background: rgb(241, 242, 247);
    }    
    .widget .widget-head {
        background-color: #f5f5f5;
        border: 1px solid #ddd;
        color: #777;
        font-size: 18px;
        padding: 12px 15px;
    }

    .widget.wblack  .widget-head{
        border: 1px solid #37454d;
        color: #fff;
    }

/* --------------------FIN cabecera widget ------------*/
</style>