<br>
<div class="row">
    <div class="col-md-8  small-box-shadow">
    <rt-widget-header title="Contáctenos" bg="background-head-orange"></rt-widget-header>  
        <form class="w3-container w3-card-4 pb-3">
          <label class="w3-text-green">Nombres y apellidos</label>
          <input class="w3-input w3-border" ng-model="vm.datos.nombres" type="text">
          <label class="w3-text-green">Email</label>
          <input class="w3-input w3-border" ng-model="vm.datos.email" type="email">
          <label class="w3-text-green">Password</label>
          <input class="w3-input w3-border" ng-model="vm.datos.password" type="password">
          <label class="w3-text-green">Empresa</label>
          <input class="w3-input w3-border" ng-model="vm.datos.empresa" type="text">
          <label class="w3-text-green">Teléfono</label>
          <input class="w3-input w3-border" ng-model="vm.datos.telefono" type="text">
          <label class="w3-text-green">Mensaje</label>
          <textarea class="w3-input w3-border" auto-resize capitalize-letter style="resize: none;" ng-model="vm.datos.mensaje" rows="5"></textarea>
          <button class="w3-btn" ng-click="vm.enviar()" style="background: #37474F;"><span style="color: white">Enviar</span></button>
        </form>
    </div>
    <div class="col-md-4 small-box-shadow">
        <rt-widget-header title="Información de Contacto" bg="background-head-orange"></rt-widget-header>   
        <div class="row">
            <div class="col-md-12">
                <p><i class="fas fa-map-marker-alt mr-1"></i> Jr. Puno N° 745 Puerto Maldonado</p>

                <p><i class="fa fa-phone mr-1"></i>  Telf: + 51 82 502 258 - RPC: 991837369 - RPM: 953567692</p>
                <p>
                  <i class="fas fa-calendar-alt mr-1"></i>
                   Horario corrido: de Lunes a Viernes: 8:00am - 7:30pm Sábados: 8:00am - 1:00pm

                </p>
                <p> 
                  <i class="fa fa-plane mr-1"></i>
                  Líneas aéreas que llegan a Puerto Maldonado: LATAN, AVIANCA, STARPERU
                </p>
            </div>
            <div class="col-md-12">
              <iframe style="width: 100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1946.8863758445143!2d-69.18206879950604!3d-12.597223242754135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x917b4ea8b0ae8c95%3A0x1e89035738ef14a2!2sPuno+745%2C+Puerto+Maldonado!5e0!3m2!1ses-419!2spe!4v1538747357697" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
            </div>
        </div>
    </div>
</div>
