<div class="accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
    <div class="card" ng-repeat="r in vm.preguntas">
        <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
            	<a data-toggle="collapse" data-parent="#accordionEx" href=".{{r.id}}" aria-expanded="true" aria-controls="{{r.id}}">
	                {{r.pregunta}}
	            </a>
            </h5>
        </div>
        <div id="{{r.id}}" class="collapse {{r.id}}" ui-sref-active="show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionEx">
            <div class="card-body">
			    <p ng-repeat="s in r.texto"><a> {{s.text}} </a></p>
			</div>
        </div>
    </div>	
</div>

