



<div id="left">
    <h1 class="mb-1 red-orange">Requisitos:</h1>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Presentarse a la notaria con el documento original que se pretende legalizar</li> -->
		<!-- <li>Presentar copia exacta y legible del documento original.</li> -->
	</ol>
	<div ng-if="vm.lugar.length>0">
		<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.lugar}}</li>
	</ol>
	</div>	
		<div ng-if="vm.nota.length>0">
		<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.nota}}</li>
	</ol>
	</div>		
</div>



