<br>

<div id="carousel-example-1z" class="carousel slide carousel-fade carousel-example-1z"" data-ride="carousel">
    <ol class="carousel-indicators">
        <li ng-repeat="a in vm.slider" data-target=".carousel-example-1z" data-slide-to="{{$index}}" ng-class="{'active':$index==0}"></li>
    </ol>
    <div class="carousel-inner h-50" role="listbox">
        <div ng-repeat="a in vm.slider" class="carousel-item" ng-class="{'active':$index==0}">
            <img class="d-block w-100" style="height: 500px;" src="imagenes/slide/{{a.slide}}" alt="First slide">
            <div class="carousel-caption">
                <div class="animated fadeInDown">
                    <h3 class="h3-responsive">{{a.titulo}}</h3>
                    <p><a href="" class="text-white">ver más</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href=".carousel-example-1z" role="button" data-slide="prev">
        <span style="font-size: 36px;"><i class="fas fa-angle-left"></i></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href=".carousel-example-1z" role="button" data-slide="next">
        <span style="font-size: 36px;"><i class="fas fa-angle-right"></i></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<div class="row">
	<div class="col-md-3 small-box-shadow">
        <rt-widget-header title="Comunicados" bg="background-head-orange"></rt-widget-header> 
		<ol class="lista-ol">
            <li class="pointer" ng-repeat="a in vm.informes" ng-click="vm.showInfome(a.id)"  data-toggle="modal" data-target="#modal" style="border-bottom: 1px dashed #9e9e9e;">
                <!-- <img src="content/img/logo_notaria.png" style="width: 50px; height: 50px; background: red"> -->
                <span class="font-italic float-right"><small>{{a.fecha_registro | date:'dd/MM/yy'}}</small></span><br>
                <span class="font-weight-bold">{{a.header}}</span><br>
                <span class="font-italic">{{a.fecha | date:'d MMMM, yyyy'}}</span>    
            </li>
		</ol>
	</div>
	<div class="col-md-6 small-box-shadow">
        <rt-widget-header title="Noticias" bg="background-head-orange"></rt-widget-header> 
        <div class="row">
        	<div class="col-md-6 mb-2" ng-repeat="a in vm.noticias">
                <div class="card">
                    <div class="view overlay">
                        <img src="imagenes/noticia/{{a.noticia}}" class="img-fluid w-100" style="height: 150px;" alt="sample">
                    </div>
                    <a ui-sref="Client.noticia({id:a.id})" class="btn-floating btn-action ml-auto mr-4 p-0 lighten-3 d-flex align-items-center" style="background: #ef6145">
                        <i class="fas fa-angle-right d-flex mx-auto text-white" style="font-size: 28px;"></i>
                    </a>
                    <div class="card-body">

                        <h5 class="card-title" style="margin-bottom: -8px;">
                        	{{a.titulo}}
                        </h5>
                        <hr>

						<div class="date">
                            <span><i class="fas fa-calendar-alt" style="font-size: 14px"></i>&nbsp;&nbsp;&nbsp;</span>
                            <span class="font-italic ">{{a.fecha | date: 'dd/MM/yyyy'}}</span>
                        </div>

                        <p class="font-small grey-dark-text mb-0 pt-0" style="height: 100px; overflow: hidden;">{{a.descripcion.substr(0,100)}}...</p>
                        <hr>
                        <!-- <ul class="list-footer font-italic font-small" style="height: 50px; overflow: auto;">
							<li><i class="fas fa-check" style="color: #ef6145"></i>Aprobado Por:JDCCPP</li> 
							<li><i class="fas fa-check" style="color: #ef6145"></i>web: jdccpp.com</li>
						</ul> -->
                    </div>
                </div>    
            </div>
            <a ui-sref="Client.noticias" class="button-see-all">Ver Todas las noticias</a>
        </div>

	</div>
    <div class="col-md-3 small-box-shadow">
        <rt-widget-header title="Notaría" bg="background-head-orange"></rt-widget-header> 
<!--         <div class="card card-cascade">
            <div class="view view-cascade overlay" style="width: 100%; height: 200px; display: flex;">
                <img class="card-img-top" src="content/img/captura.PNG" style="margin:auto max-width: 200px; height: 200px; " alt="Card image cap">
            </div>
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><strong>Lourdes Madeleine García Medina</strong></h4>
            <h6 class="font-weight-bold indigo-text py-2">Presentación</h6>
            <p class="card-text">Bienvenidos a la Portal Web Oficial de la Notaría García Medina
            </p>
            <a type="button" class="btn-floating btn-small btn-fb align-items-center"><i style="top: 25%" class="fab fa-facebook-f position-relative"></i></a>
            <a type="button" class="btn-floating btn-small btn-tw  align-items-center"><i style="top: 25%" class="fab fa-twitter position-relative"></i></a>
          </div>
        </div> -->

        <!-- Card -->
<div class="card testimonial-card">

  <!-- Background color -->
  <div class="card-up" style="background: #ef6145"></div>

  <!-- Avatar -->
  <div class="avatar mx-auto white" style="height: 150px; width: 150px;">
    <img src="imagenes/presentacion/{{vm.presentacion[0].presentacion}}" class="rounded-circle" style="height: 150px; width: 150px;" alt="woman avatar">
  </div>

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title">{{vm.presentacion[0].notaria}}</h4>
    <hr>
    <h6 class="font-weight-bold indigo-text py-2">{{vm.presentacion[0].titulo}}</h6>

    <!-- Quotation -->
    <p><i class="fa fa-quote-left"></i> {{vm.presentacion[0].descripcion}}</p>
  </div>

</div>
<!-- Card -->
        <!-- <section class="my-5">
          <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
            <p class="mr-4 mb-0">Sobre los socios</p>
          </div>
          <div class="media mt-4 px-1">
            <img class="card-img-100  d-flex z-depth-1 mr-3" src="content/img/abogado1.jpg" alt="Generic placeholder image">
            <div class="media-body small">
              <h5 class="font-weight-bold mt-0">
                <a class="text-default" href="">Danny Newman</a>
              </h5>
              <ul class="list-unstyled list-inline mb-2 pt-1">
                <li class="list-inline-item">
                  <a class="grey-text mr-1"><i class="fa fa-lg fab fa-facebook-f"> </i></a>
                </li>
                <li class="list-inline-item">
                  <a class="grey-text mr-1"><i class="fa fa-lg fab fa-twitter"> </i></a>
                </li>
              </ul>
              Lorem ipsum dolor sit amet.
            </div>
          </div>
          <div class="media mt-4 px-1">
            <img class="card-img-100  d-flex z-depth-1 mr-3" src="content/img/abogado2.jpg" alt="Generic placeholder image">
            <div class="media-body small">
              <h5 class="font-weight-bold mt-0">
                <a class="text-default" href="">Dynna Newwoman</a>
              </h5>
              <ul class="list-unstyled list-inline mb-2 pt-1">
                <li class="list-inline-item">
                  <a class="grey-text mr-1"><i class="fa fa-lg fab fa-facebook-f"> </i></a>
                </li>
                <li class="list-inline-item">
                  <a class="grey-text mr-1"><i class="fa fa-lg fab fa-twitter"> </i></a>
                </li>
              </ul>
              Lorem ipsum dolor sit amet.
            </div>
          </div>
        </section> -->
    </div>

    <div class="modal fade show" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body" style="background: #005580;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class=" text-white">&times;</span>
            </button>
            <center><img src="content/img/logo_notaria.png" style=" height: 150px;"></center><br>
            <center><h2 class="font-weight-bold text-white">{{vm.informe.header}}</h2></center><br>
            <hr>
            <center><h6 class="font-weight-bold" style="color: yellow">{{vm.informe.titulo}}</h6></center><br>
            <center><span class="font-italic text-white">{{vm.informe.descripcion}}</span> </center>
            <div ng-if="vm.informe.nombre_archivo">
                <button type="button" class="btn btn-outline-default waves-effect"><a href="archivos/informe/{{vm.informe.informe}}" target="_blanck" class=" text-white">{{vm.informe.nombre_archivo}}</a></button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
<!--     <div class="fondo-negro animated fadeIn " ng-class="{'oculto': vm.oculto}">
      <div class="modal" style="display: block" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body text-center" style="background: #005580;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="vm.oculto = true">
                  <span aria-hidden="true" class=" text-white">&times;</span>
                </button>
                <center><img src="content/img/logo_notaria.png" style=" height: 150px;"></center><br>
                <center><h2 class="font-weight-bold text-white">{{vm.informes[0].header}}</h2></center><br>
                <hr>
                <center><h6 class="font-weight-bold" style="color: yellow">{{vm.informes[0].titulo}}</h6></center><br>
                <center><span class="font-italic text-white">{{vm.informes[0].descripcion}}</span> </center>
                <div ng-if="vm.informes[0].nombre_archivo">
                    <button type="button" class="btn btn-outline-default waves-effect"><a href="archivos/informe/{{vm.informes[0].informe}}" target="_blanck" class=" text-white">{{vm.informes[0].nombre_archivo}}</a></button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
</div> 
<!-- <main>
     <div class="col-md-7 col-lg-4 pull-xs-none m-x-auto m-t-5 ">
                <div class="card text-center">
                    <div class="card-block">
                        <h2 class="card-title">Warsaw</h2>
                        <p>Sunny <small><span class="grey-text">&middot; Wind 5 mph &middot; Humidity: 47%</span></small></p>

                         <div class="row">
                            <div class="col-md-6 today amber-text"><i class="fa fa-sun-o" aria-hidden="true"></i></div>
                            <div class="col-md-6 today">14&deg;</div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">Wed</div>
                            <div class="col-md-2">Thu</div>
                            <div class="col-md-2">Fri</div>
                            <div class="col-md-2">Sat</div>
                            <div class="col-md-2">Sun</div>
                            <div class="col-md-2">Mon</div>
                        </div>

                        <div class="row m-t-3">
                            <div class="col-md-2">
                                <p>16&deg;</p>
                                <p class="text-md-center night grey-text">6&deg;</p>
                            </div>
                            <div class="col-md-2">
                                <p>17&deg;</p>
                                <p class="text-md-center night grey-text">7&deg;</p>
                            </div>
                            <div class="col-md-2">
                                <p>17&deg;</p>
                                <p class="text-md-center night grey-text">9&deg;</p>
                            </div>
                            <div class="col-md-2">
                                <p>18&deg;</p>
                                <p class="text-md-center night grey-text">8&deg;</p>
                            </div>
                            <div class="col-md-2">
                                <p>20&deg;</p>
                                <p class="text-md-center night grey-text">7&deg;</p>
                            </div>
                            <div class="col-md-2">
                                <p>21&deg;</p>
                                <p class="text-md-center night grey-text">8&deg;</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</main> -->         

<style type="text/css">
	.carousel-control-prev span{
		color: white;
		padding-left: 12%;
		padding-right: 12%;
		background: rgba(0,0,0,0.5); 
	}
	.carousel-control-next span{
		color: white;
		padding-left: 12%;
		padding-right: 12%;
		background: rgba(0,0,0,0.5); 
	}
	.carousel-control-next span:hover, .carousel-control-prev span:hover{
		border: 1px solid white;
	}
</style>
<style type="text/css">
        .today {
            font-size:6rem;
            font-weight:100;
            color:#666;
        }
        .night {
            font-weight:300;
        }
</style>
<style type="text/css">
    .oculto{
        display: none;
    }
    .fondo-negro{
        background-color: rgba(0, 0, 0, 0.4);
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
    }
</style>
<style type="text/css">

    .list-footer{
    	list-style: none;
    }

    .list-footer svg{
    	color: #FF8800;
    	padding-right: 5px;
    	font-size: 20px;
    }
    .date{
    	font-size: 11px;
    	margin-bottom: 5px;
    	display: flex;
    	text-align: right;

    }
    .pointer{
        cursor: pointer;
    }
</style>

