<div id="left">
    <h1 class="mb-1 red-orange">Requisitos:</h1>
	<ol class="lista-ol">
		<!-- <li>Minuta debidamente firmada por todas las partes y autorizada por abogado colegiado.</li>
		<li>Proporcionar generales de ley de los contratantes, llenando la hoja de datos que   entregamos en el mostrador.</li>
		<li>Acompañar libros de Actas en caso de contratos de sociedades mercantiles o civiles. En caso de asociaciones civiles, acompañar además, libro padrón de socios.</li>
		<li>Adjuntar fotocopia de los documentos de identidad (DNI, CIP, Carnet de Extranjería, Etc) de los contratantes. El DNI debe contar con el sello de la última votación, con el de dispensa o con el pago de multa.</li>
		<li>Si corresponde, y para una mejor revisión, adjuntar copia vigente de la partida registral de propiedad Inmueble, del Registro de Personas Jurídicas o la que se requiera según sea el caso.</li>
		<li>Si se trata de contratos de tráfico patrimonial inmobiliario adjuntar copia del pago del impuesto de alcabala, de la declaración jurada de inmobiliario del predio (hojas HR y PU) y del pago del impuesto predial de todo el año en curso.</li>
		<li>Si se requiere constancia o fe de entrega notarial del dinero, indicar previamente datos del cheque. Cuando se trate de bienes de propiedad común de los cónyuges, se requiere la intervención de ambos por propio derecho o por poder.</li> -->
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
	</ol>
	<div ng-if="vm.lugar.length>0">
			<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.lugar}}</li>
	</ol>
	</div>
	<div ng-if="vm.nota.length>0">
		<h1 class="mb-1 red-orange">Nota:</h1>
	<ol class="lista-ol">
		<li>{{vm.nota}}</li>
	</ol>
	</div>		
</div>
