<div id="left">
    <h1 class="red-orange">Requisitos:</h1>
    <p>Se debe presentar  a la notaria la  solicitud de separación convencional con firma y huella digital de ambos cónyuges,  autorizada por abogado y anexar a esta:</p>
	<ol class="lista-ol">
		<!-- <li>Copia simples y legibles de los documentos de identidad de  los solicitantes.</li>
		<li>Copia certificada del acta o partida de matrimonio  de los peticionantes expedida con no más de 3  meses  de  antigüedad respecto  de la fecha de  presentación de la solicitud.</li>
		<li>Declaración jurada, con firma y huella digital de los  peticionantes de no tener hijos menores de edad o  mayores con incapacidad.</li>
		<li>De ser el caso, copia certificada del acta de nacimiento del hijo menor de edad o incapaz expedida con no más de tres  meses respecto de la fecha de  presentación</li>
		<li>De ser el caso, copia certificada de la sentencia judicial  firme o acta de conciliación que  establezca  los regímenes de patria potestad, tenencia, alimentos y visitas, o de curatela,  alimentos y vistas en caso de tener  hijo menor de edad o mayor de edad  con discapacidad.</li>
		<li>Testimonio de la escritura pública  de separación de patrimonios o de sustitución o  liquidación de régimen patrimonial inscrita en los Registros Públicos.</li>
		<li>Declaración jurada con firma y  huella de  los solicitantes de  carecer de bienes sujetos al régimen de sociedad de gananciales.</li>
		<li>Declaración jurada del último domicilio conyugal, suscrita por ambos y con la huella digital de  ambos solicitantes.</li> -->

		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
	</ol>
	<div ng-if="vm.lugar.length>0">
				<h1 class="mb-1 red-orange">Lugar:</h1>
		<ol class="lista-ol">
			<li>{{vm.lugar}}</li>
		</ol>
		</div>
		<div ng-if="vm.nota.length>0">
			<h1 class="mb-1 red-orange">Nota:</h1>
		<ol class="lista-ol">
			<li>{{vm.nota}}</li>
		</ol>
	</div>		
</div>
