
<div class="col-md-12">
  <div class="row">
  <div class="col-md-6" style="background: #e2e2e2;">
    <rt-widget-header title="Presentación de la notaria" bg="background-head-blueblack"></rt-widget-header>
      <form id="site-search"  class="ng-pristine ng-valid example col-md-12">
          <button type="submit"><i class="fa fa-search"></i></button>
          <input type="text" ng-model="vm.text" placeholder="Type here for search..." name="search">
      </form>
    <div class="lista-admin configBody" style="height: 400px; overflow: auto;">
          <div ng-repeat="a in vm.presentaciones | filter: vm.text" ng-click="vm.select(a.id)" >
              <li ng-class="{'tr-selected':vm.updates.idSelected==a.id}">
                <h5 class="mb-1">{{a.titulo}}</h5>
                {{a.descripcion}}
              </li>
          </div>                              
        </div>     
  </div>
  <div class="col-md-6 small-box-shadow" >
    <rt-widget-header title="Descripción" bg="background-head-blueblack"></rt-widget-header>
    <div class="row">
      <div class="col-md-12" style="margin-top: 4px">
        <rt-form-button 
          buttons="vm.buttons"
          updates="vm.updates"
          new-button="vm.nuevo()" 
          edit-button="vm.editar()" 
          delete-button="vm.eliminar()">
        </rt-form-button>
      </div> 
      <div class="col-md-4">
        <fieldset ng-disabled="vm.updates.disabled">
          <rt-image-file type="'imagen'" property="'presentacion0'" eliminar="vm.eliminarimagenes"  files="vm.presentacion.presentacion" dato="vm.presentacion" height-upload="'150px'" width-upload="'150px'" height-uploaded="'100%'" width-uploaded="'100%'" blob="vm.presentacion.presentacionBlob" erase-file="false"></rt-image-file>
        </fieldset>
      </div>
      <div class="col-md-8 configBody" style="height: 400px; overflow: auto;">
        <form class="formulario" name="formulario">
          <fieldset ng-disabled="vm.updates.disabled">
            <label class="w3-text-blue" for="notaria"><b>Notaria</b></label>
            <input type="text" class="w3-input w3-border" name="notaria" id="notaria" capitalize-letter ng-model="vm.presentacion.notaria" placeholder="Notaria" required>
            <label class="w3-text-blue" for="pregunta"><b>Titulo</b></label>
            <input type="text" class="w3-input w3-border" name="pregunta" id="pregunta" capitalize-letter ng-model="vm.presentacion.titulo" placeholder="Título" required>
            <label class="w3-text-blue" for="respuesta"><b>Descripcion</b></label>
            <textarea name="respuesta" auto-resize capitalize-letter style="resize: none;" class="w3-input w3-border" placeholder="Descripción" ng-model="vm.presentacion.descripcion" id="respuesta" rows="7" required></textarea>
          </fieldset>
        </form>
      </div>
    </div>         
    <br>
    <div class="panel-body">
      <center>
          <button type="submit" ng-click="vm.guardar(formulario.$valid)" class="blue-bottom button-4"><i class="fa fa-check" aria-hidden="true"></i><span >Guardar</span></button> 
          <a ng-click="vm.cancelar()" class="blue-bottom button-4 text-white"><i class="fa fa-times" aria-hidden="true"></i>Cancelar</a>
      </center>  
    </div>  
  </div>
</div>
</div>





<style type="text/css">

  .left h1 {
    display: block;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px dotted #CCC;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
  }
  .left ul{
   margin-bottom: 15px;
  }
  .left ul li{
    list-style: none;
  }
</style>