<div id="left">
    <h1 class="mb-1 red-orange">Requisitos:</h1>
	<ol class="lista-ol">
		<li ng-repeat="a in vm.requisitos">{{a.requisito}}</li>
		<!-- <li>Presentarse a la notaria con el documento original que se pretende legalizar</li> -->
		<!-- <li>Documento de identidad vigente (DNI, Carné de extranjería, etc.) el DNI deberá contar con la constancia de votación al día, dispensa ó pago de multas.</li> -->
		<!-- <li>Si la legalización de firmas es con poder o en representación de una entidad, se requiere la vigencia de poder expedida por los Registros Públicos (la vigencia de poder no debe ser mayor a 30 días de antigüedad).</li> -->
	</ol>
	<div ng-if="vm.lugar.length>0">
		<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.lugar}}</li>
	</ol>
	</div>	
		<div ng-if="vm.nota.length>0">
		<h1 class="mb-1 red-orange">Lugar:</h1>
	<ol class="lista-ol">
		<li>{{vm.nota}}</li>
	</ol>
	</div>		
</div>



